*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: blue;
    font-size: large; 
}

a:hover {
    color:red;
}

#fname,
#lname,
#email,
#pwd {
    width: 80%;
    height: 30px;
    border: none;
}

legend {
    text-align: center;
    font-size: x-large;
}

#login {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.box {
    padding: 120px 100px;
    border:none;
    Margin:30px auto;
    Padding:30px;
    Width: 600px; 
    Height: 500px;
    Position: relative;
    background-color: lightblue;
}


.stud {
    background-color: #89253e;
    color:white;
    margin-top:5px;
    font-size: 14px;
    border: none;
    padding:2px;
    font-family: 'Oleo Script', 'cursive';
}


#log {
    width: 100%;
    width: 100vw;
    height: 787px; /* change it to your value depending on context*/
    background-color: #2e2e2d;
    color: black;
    padding: 40px 100px;
    border: 1px solid black;
} 

footer {
    position: absolute;
    left: 0;
    text-align: center;
    border: none;
    color: white;
    width: 100%;
    width: 100vw;
    height: 54px;
    background-color: gray;
    margin-top: 19px;
    padding-top: 4px;
    font-family: 'Teko', sans-serif;
}
